<html>
   <head>
     <title>
	    Dr Ram Ray's page
     </title>
       <!--<link rel="stylesheet" type="text/css" href="style.css">-->
       <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
       <script src="/static/vendor/jquery/jquery.min.js"></script>
       <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  </head>
  
  <body text="black" bgcolor="white" link=" " vlink="purple" alink= "blue" leftmargin=0 topmargin=0 >
  
<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Texas Groundwater Research</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/contact">Contact</a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>-->
            <!--<li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>-->
            <!--<li class="nav-item">
              <a class="nav-link" href="research.html">Research</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Bio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Conferences</a>
  </li>
  <!--<li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Research</a>
  </li>-->
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Students</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
  <!--<table style="height: 100px;">-->

    <table border= 0 valign= center cellpadding = 0 border ="20">
      <tr>
         <td class='leftPanel' valign="top" align=center>
        
           <left><img src="/static/assets/Ram.PNG" width="240" border="0" alt="Dr Ram Ray's Picture" border = "2"></left>
               <p align=center>
	             <font face="Verdana, Helvetica" size="2"><b>Contact Information</b></font><br>
    	         <font face="verdana,helvetica" size=1>
	                 Office: (936) 261-5094<br>
	                 Cell: (603) 978-7190<br>
	                 Fax: (936) 261-2548<br>
                   Email:&nbsp;<a href="mailto:raray@pvamu.edu">raray@pvamu.edu</a>
              </font>
             </p>
            <p align=center>
  	        <font face="Verdana, Helvetica" size="2"><b>Mailing Address</b></font><br>
	          <font face="verdana,helvetica" SIZE=1>
	               College&nbsp;of&nbsp;Agriculture&nbsp;and&nbsp;Human&nbsp;Sciences<br>
	               Prairie&nbsp;View&nbsp;A&M&nbsp;University<br>
	               P.O.&nbsp;Box&nbsp;519&nbsp;MS&nbsp;2008<br>
	               Prairie&nbsp;View,&nbsp;TX&nbsp;77446<br>
          	</font>
          </p>
      </td>
      <td width="1%"></td>
  <td valign=top class='mainBody' height=100%>
    <table cellspacing=0 cellpadding=2 border=0 width=100% height=100%>
      <tr>
        <td valign=top>
         <p>
         <font size=+1><b>Ram L. Ray</b></font><br>
         
         Research Scientist<br>
         College of Agricultural Research Center<br>
         Prairie View A&M University, Texas <br>
         </p>
         <p>
         Ph.D in Civil Engineering (2009)<br>
         University of New Hampshire, USA<br>
         </p>
         <!-- Awards  -->

         <p>
         <b>Selected Awards</b><br>
         <ul>
          <li>NASA Earth System Science Fellowship, USA, 2005-2008</li>
          <li>Vlaamse Interuniversitaire Raad (VLIR) Scholarships, Belgium, 2002-2004</li>
          <li>Tribhuvan University Merit Scholarships, Nepal, 1989-1992</li>
          <li>Excellent job performance award from DDC Sarlahi, Nepal, 2001</li>
          
         </ul>
         <b>Research Interests</b><br>
         <ul>
          <li>Water Resources, Hydrology, Ecohydrology: Hydrology-land surface-atmosphere interactions, 
		          Soil water dynamics, Experimentation/instrumentation, 
		          Landcover change impacts on agricultural water resources, irrigation/crop water requirements, Land surface dynamics, watershed hydrology and modeling, 
		          Remote sensing and GIS applications; Soil Carbon Sequestration 
	        </li>

	
	        <li>Hydroclimatology: Climate change impact on water resources, 
		          parameterization of land surface characteristics in hydrology, 
	          	Agricultural water resources management using remote sensing, GIS, 
	          	and climate forecasts
	        </li>

	
        	<li>Geomorphology: Natural hazard and risk analysis using GIS/remote sensing and spatial statistical analysis, 
	        	Fluvial geomorphology, 
	        	Flood hydrology, Flood risk analysis, 
	        	Flood hazards and Control
        	</li>
         </ul>
	
      	<p>
         <b><a style="text-decoration: none; color: purple;" href="static/assets/RamRay_CV_Jun2018.pdf">Curriculum Vitae</a></b><br> <br>
	      </p>

        </td>
      </tr>
    </table>
  </td>
  </tr>
</table>

</div>











<!--COURSES-->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    
        <font size="+1" color = "purple" align = "center"><b>Courses Taught</b></font><br>
      <p>
      <ul>
        <li> <a> Climate and Hydrology</a>, 2011-2012.
        <li> <a> Mountain Hydrology</a>, 2011-2012.
        <li> <a> Environmental Engineering</a>, 2010.
        <li> <a> Engineering Hydrology, GIS & Water Resources</a>, 2007-2008.
        <li> <a> Graduate Teaching Assistant, lab : Fluid Mechanics</a>, 2006 & 2008.
        </ul>

    <font size="+1" color = "purple" align = "center"><b>Current Students</b></font><br>

    <ul>
      <li><a href="https://github.com/aabayomi" target="_blank">Abayomi Adekanmbi</a></li>
      <li><a>Olamofe John</a></li>
      <li><a>Olatunde Badmus</a></li>
      <li><a>Abiose Oladoja</a></li>
    </ul>
  </li>
</UL>

</div>


  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  <center><p> Conferences by <b>YEAR</b></p> </center>

    <center>
    <b><a href="#YEAR_2018">2018</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2017">2017</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2016">2016</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2015">2015</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2014">2014</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2013">2013</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2012">2012</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2011">2011</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2010">2010</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2009">2009</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2008">2008</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2007">2007</a></b> &nbsp; | &nbsp;
    <!--<b><a href="#YEAR_2006">2006</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2005">2005</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2004">2004</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2003">2003</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2002">2002</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2001">2001</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_2000">2000</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_1999">1999</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_1998">1998</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_1997">1997</a></b> &nbsp; | &nbsp;
    <b><a href="#YEAR_1990_1996">1990-1996</a></b>-->
    </center>
<!--
  </UL>
-->
 <hr>

  <H3><A NAME="YEAR_2017"></A>2017</H3>
  <menu>
   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Exploring the interactions between land use, climate change and carbon cycle using satellite measurements</font></b><BR>
       <b>Ray, R.L.</b>, Fares, A., Awal, R., and Risch, E<BR>
	<i>Fall Meeting, American Geophysical Union, New Orleans, LA, December 11-15, 2017.</i>
      
      
      
    </li></p>


<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Spatial interpolation of daily reference evapotranspiration in Northwest Texas.</font></b><BR>
       Awal, R., Fares, A., <b>Ray, R.L.</b>, Bayabil, H., and Risch, E. <BR>
	<i>ASA, CSSA and SSSA International Annual Meetings: Oct. 22-25, 2017, Tampa, Florida.</i>
      
      
      
    </li></p>





   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">. A web-based tool to monitor and visualize groundwater storage in Texas.</font></b><BR>
       Adekanmbi, A., Olawale, O., <b>Ray, R.L.</b>, Risch, E., and Fares, A. <BR>
	<i>TAMUS 14th Annual Pathways Student Research Symposium, November 2-3, 2017.</i>
      
      
      
    </li></p>




	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Impact of hurricane harvey's storm surge on groundwater resources.</font></b><BR>
       Badmus, O., Olawale, O., <b>Ray, R.L.</b>, Risch, E., and Fares, A.<BR>
	<i>TAMUS 14th Annual Pathways Student Research Symposium, November 2-3, 2017</i>
      
      
      
    </li></p>


   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Monitoring terrestrial carbon cycle in Texas using satellite products.</font></b><BR>
       <b>Ray, R.L.</b>, Fares, A., Awal, R., and Risch, E.<BR>
	<i>ARD Research Symposium, April 1-4, 2017, Atlanta, GA.</i>
      
      
      
    </li></p>


 
   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Effect of landuse change and drought on groundwater storage in Texas.</font></b><BR>
       Adekanmbi, A., <b>Ray, R.L.</b>, Fares, A., and Risch, E. <BR>
	<i>ARD Research Symposium, April 1-4, 2017, Atlanta, GA.</i>
      
      
      
    </li></p>



	
	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Effect of rainfall and temperature on root zone soil moisture profile.</font></b><BR>
       Jones, K., Taylor, A., <b>Ray, R.L.</b>, Risch, E., and Fares, A. <BR>
	<i>ARD Research Symposium, April 1-4, 2017, Atlanta, GA.</i>
      
      
      
    </li></p>


 
   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Assessing the effects of change in impervious areas on flooding in Texas.</font></b><BR>
       <b>Ray, R.L.</b>, Fares, A., Awal, R., and Risch, E. <BR>
	<i>The Geological Society of America, South-Central Section, 51st annual meeting, March 13-14, 2017, San Antonio, TX.</i>
      
      
      
    </li></p>



	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Modeling the effect of landuse change on hydrologic response of a semi urbanized watershed using a physically based distributed model.</font></b><BR>
       El Hassan, A., Awal, R., Bayabil, H., <b>Ray, R.L.</b>, Risch, E., and Fares, A. <BR>
	<i>The Geological Society of America, South-Central Section, 51st annual meeting, March 13-14, 2017, San Antonio, TX.</i>
      
      
      
    </li></p>


  </menu>


<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>
  <H3><A NAME="YEAR_2016"></A>2016</H3>
  <menu>
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Effect of recent torrential rain and drought on groundwater storage in Texas.</font></b><BR>
       Abayomi, A., <b>Ray, R.L.</b>, Fares, A and Risch<BR>
	<i>TAMUS 13th Annual Pathways Student Research Symposium, November 3-4, 2016.</i>
      
      
      
    </li></p>


<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">The influence of rain on water and energy balance components at land surface.</font></b><BR>
       Jones, K., <b>Ray, R.L.</b>, Risch, E., and Fares, A.<BR>
	<i>TAMUS 13th Annual Pathways Student Research Symposium, November 3-4, 2016.</i>
      
      
      
    </li></p>





   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Evaluating landuse effects on net ecosystem CO2 exchange using satellite measurements. </font></b><BR>
       Upadhya, A., <b>Ray, R.L.</b>, and Fares, A.  <BR>
	<i>TAMUS 13th Annual Pathways Student Research Symposium, November 3-4, 2016.</i>
      
      
      
    </li></p>




	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">.Assessment of soil moisture, evapotranspiration and CO2 levels under different landcovers and environments. </font></b><BR>
       <b>Ray, R.L.</b>, Fares, A., He, Y., Awal, R., Johnson, A.B., and Risch, E<BR>
	<i>ASA, CSSA and SSSA International Annual Meetings: Nov. 6-9, 2016, Phoenix, Arizona.</i>
      
      
      
    </li></p>


   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Potential impact of climate change on crop yield of major crops in northern high plains of Texas.</font></b><BR>
       Awal, R., Fares, A., <b>Ray, R.L.</b>, Johnson, A.B., and Risch, E. <BR>
	<i>ASA, CSSA and SSSA International Annual Meetings: Nov. 6-9, 2016, Phoenix, Arizona.</i>
      
      
      
    </li></p>


 
   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Evaluation and inter-comparison of remotely sensed soil moisture from three different satellites.</font></b><BR>
       <b>Ray, R.L.</b>, He, Y., Fares, A., and Awal, R.<BR>
	<i>American Water Resources Association, 2016 Summer Speciality Conference, GIS and Water Resources IX, Aug 11-13, 2016, Sacramento, California.</i>
      
      
      
    </li></p>



	
	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Effect of rainfall and temperature on root zone soil moisture profile.</font></b><BR>
       Jones, K., Taylor, A., <b>Ray, R.L.</b>, Risch, E., and Fares, A. <BR>
	<i>ARD Research Symposium, April 1-4, 2017, Atlanta, GA.</i>
      
      
      
    </li></p>


 
   <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Assessing the effects of change in impervious areas on flooding in Texas.</font></b><BR>
       <b>Ray, R.L.</b>, Fares, A., Awal, R., and Risch, E. <BR>
	<i>The Geological Society of America, South-Central Section, 51st annual meeting, March 13-14, 2017, San Antonio, TX.</i>
      
      
      
    </li></p>



	<p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Modeling the effect of landuse change on hydrologic response of a semi urbanized watershed using a physically based distributed model.</font></b><BR>
       El Hassan, A., Awal, R., Bayabil, H., <b>Ray, R.L.</b>, Risch, E., and Fares, A. <BR>
	<i>The Geological Society of America, South-Central Section, 51st annual meeting, March 13-14, 2017, San Antonio, TX.</i>
      
      
      
    </li></p>



</menu>


<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>
  <H3><A NAME="YEAR_2012"></A>2012</H3>
  <menu>
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Evapotranspiration models of different complexity for multiple land cover types.</font></b><BR>
       Choi M., Kustas W.P., and <b>Ray R.L.</b> <BR>
	<i>Hydrological Processes, </i>26:2962-2972.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>
  </menu>

<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>
  <H3><A NAME="YEAR_2011"></A>2011</H3>
  <menu>
	<!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Slope stability analysis using dynamic safety factors approach.</font></b><BR>
       <b>Ray R.L.</b>, Jacobs J.M., and Ballestero T.P.<BR>
	<i>Hydrological Processes,</i>59:1317-1337.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>

    
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Comparing satellite derived rainfall datasets using the Hillslope River Routing (HRR) model in the Congo Basin.</font></b><BR>
       Beighley R.E., <b>Ray R.L.</b>, He Y., Schaller L., Durand M., Andreadis K.M., and Alsdorf D.E.<BR>
	<i>Hydrological Processes, </i>26:2962-2972.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>
    
    
  </menu>

<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>
  <H3><A NAME="YEAR_2010"></A>2010</H3>
 <menu>
	<!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Landslide susceptibility mapping using downscaled AMSR-E soil moisture: A case study from Cleveland Corral, California, US.</font></b><BR>
       <br>Ray R.L.</b>, Jacobs J.M., and Cosh M. <BR>
	<i>Remote Sensing of Environment,</i>5114: 2624-2636.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>

    
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Impact of unsaturated zone soil moisture and groundwater table on slope instability.</font></b><BR>
       <b>Ray R.L.</b>, Jacobs J.M., and de Alba P. <BR>
	<i>Journal of Geotechnical and Geoenvironmental Engineering,</i>136(10):1448-1458.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>
    
    
  </menu>

<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>
  <H3><A NAME="YEAR_2009"></A>2009</H3>
  <menu>
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Slope stability analysis using GIS on a regional scale: A case study from Dhading Nepal.</font></b><BR>
       <b>Ray R.L. </b> and De Smedt F. <BR>
	<i>Environmental Geology,</i>57: 1603-1611.<BR>
      Download: [not available]<BR> 
      
    </li></p>

    
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">A comparison of models for estimating potential evapotranspiration for Florida land cover types.</font></b><BR>
       Douglas E.M., Jacobs J.M., Sumner D.M., and <b>Ray R.L.</b> <BR>
	<i>Journal of Hydrology,</i>373 (3-4): 366-376.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>
  </menu>


<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>



  <H3><A NAME="YEAR_2007"></A>2007</H3>
  <menu>
    <!--li><img align="bottom" border="0" alg="new" src="./new_by.gif"-->
    <p> <li><!--<img align="bottom" border="0" alg="new" src="./new_by.gif"> -->
     <b><font color = "purple">Relationships among remotely sensed soil moisture, precipitation and landslide events.</font></b><BR>
       <b>Ray R.L.</b> and Jacobs J.M.<BR>
	<i>Natural Hazards,</i>43(2):211-222.<BR>
      
      Download: [not available]<BR> 
      
    </li></p>

  </menu>


<ul><A HREF="#TOP"><I>Back to Top</I></A></ul>

</BLOCKQUOTE>
  </div>
</div>




<!--RESEARCH -->

<!--<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>-->

<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <!--<p>
  <UL>

  <li><b>Current Students</b>
    <ul>
      <li><a href="https://github.com/aabayomi" target="_blank">Abayomi Adekanmbi</a></li>
      <li><a>Olamofe John</a></li>
      <li><a>Olatunde Badmus</a></li>
      <li><a>Abiose Oladoja</a></li>
    </ul>
  </li>
</UL>-->



  <font size="+1" color = "purple" align = "center"><b>Courses Taught</b></font><br>
      <p>
      <ul>
        <li> <a> Climate and Hydrology</a>, 2011-2012.
        <li> <a> Mountain Hydrology</a>, 2011-2012.
        <li> <a> Environmental Engineering</a>, 2010.
        <li> <a> Engineering Hydrology, GIS & Water Resources</a>, 2007-2008.
        <li> <a> Graduate Teaching Assistant, lab : Fluid Mechanics</a>, 2006 & 2008.
        </ul>


  </div>
</div>




  </body>
</html>